<!DOCTYPE html>
<html>
  <head>
    <title>System Details</title>
  </head>
  <body>
    <h1>System Details</h1>
    <ul>
      <li><strong>System:</strong> {{ system_info.system }}</li>
      <li><strong>Node Name:</strong> {{ system_info.node_name }}</li>
      <li><strong>Release:</strong> {{ system_info.release }}</li>
      <li><strong>Version:</strong> {{ system_info.version }}</li>
      <li><strong>Machine:</strong> {{ system_info.machine }}</li>
      <li><strong>Processor:</strong> {{ system_info.processor }}</li>
      <li><strong>CPU Count:</strong> {{ system_info.cpu_count }}</li>
      <li><strong>CPU Usage:</strong> {{ system_info.cpu_usage }}%</li>
      <li>
        <strong>RAM:</strong> {{ system_info.memory.total }} GB (Total), 
        {{ system_info.memory.used }} GB (Used), 
        {{ system_info.memory.free }} GB (Free)
      </li>
      <li>
        <strong>Disk:</strong> {{ system_info.disk.total }} GB (Total), 
        {{ system_info.disk.used }} GB (Used), 
        {{ system_info.disk.free }} GB (Free)
      </li>
      
        <strong>Network:</strong> Sent: {{ system_info.network.sent }} MB,
        Received: {{ system_info.network.received }} MB
      </li>
      <li><strong>IP Address:</strong> {{ system_info.ip_address }}</li>
    </ul>
  </body>
</html>
